$content: 70.5rem;
$grey-darker: #1F2D3D;
$form-lable: #5E6D82;
$link: #20a0ff;
$link-hover: #4db3ff;

/* 定义字体大小 */
$font24: 1.5rem;
$font20: 1.25rem;
$font18: 1.125rem;
$font16: 1rem;
$font14: .875rem;
$font12: .75rem;
